<app-header></app-header>
<div class="home-container">
    <div class="all-paintings">
        <div class="trending-paintings">
            <div class="top">
                <h4>Popular Paintings</h4>
            </div>
            <div class="paintings-thumbnail">
                <div class="painting" *ngFor="let painting of trendingPaintings">
                    <div class="cover" (click)="goToPainting('trending', painting.id)">
                    <img style="width: 470px;height: 500px;" [src]="painting.cover" alt="" />
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>